body {
    background-color:#fec0ff;
     cursor:url(nat988.cur), auto;
}
.box{
    
    background-color:white;
    padding:80px;
    border-radius:10px;
    width :400px;
    padding:80px;
   
}
.word{
    font-size: 20px;
    font-family:Dancing Script, cursive;
}
#song-image{
    height:250px;
    width:250px;
    border-radius:10px;
}
#music{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#song-name{
    font-size: 2em;
    margin-top:20px;
}
#music-buttons{
    display:flex;
    align-items: center;
    margin-top: 20px;
}
#music-buttons i {
    padding:5px;
    
}
#slider-song{
    -webkit-appearance: none;
    -noz-appearance:none;
    appearance: none;
    width:250px;
    height:5px;
    background: repeating-linear-gradient(45deg,#0351a3
    ,#0351a3 12px, #ee2689 12px,#ee2689 24px);
    border:1px solid #0351a3;
    border-radius:20px;
    margin-top:20px;
}
#slider-song::-webkit-slider-thumb{
    -webkit-appearance: none;
    -noz-appearance:none;
    appearance: none;
    background-color:#ee2689;
    width:15px;
    height:15px;
    border-radius: 50%;
}
#song-name{
    font-family:'Franie', sans-serif;
}
#song-artist{
    font-family:'Franie', sans-serif;
}
#image{
    width : 500px;
    
}